<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <h1>フォームの値を取得、表示するアプリ(Express)</h1>
    <form action="/" method="post">
      <!-- ↓ フォームで入力した値が表示される -->
      <p><%= content %></p>
      <input type="text" name="message" />
      <input type="submit" value="ボタン" />
    </form>
  </div>
</body>
</html>